*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html{
	width:100%;
	box-sizing: border-box;
}

body{
	position:relative;
	margin:0;
	padding:0.1px;
	min-height:100%;
	width:100%;
	background-color:#21242C;
	color:#FCFFF6;
	font-family:'Roboto','Open Sans',sans-serif;
	font-size:100%;
	line-height:1.5;
	padding-left:230px;
	text-rendering: optimizeLegibility;
}

a,a:hover,a:focus{
	text-decoration:none;
	outline:none;
	color:#fff;
}

hr{
	height:1px;
	background-color:rgba(255,255,255,0.05);
	width:98%;
	margin:0.5em 0;
}

h1 {
  font-size: 3rem;
  line-height: 32px;
}
h2 {
  font-size: 2.4rem;
  line-height: 32px;
}
h3 {
  font-size: 2rem;
  line-height: 24px;
  font-weight:300;
  color:rgba(255,255,255,0.35);
}
h4 {
  font-size: 1.8rem;
  line-height: 24px;
}
h5 {
  font-size: 1.6rem;
  line-height: 24px;
}
h6 {
  font-size: 1.5rem;
  line-height: 24px;
  text-transform: uppercase;
}

h3+p{
	margin-top:1em;
	color:rgba(255,255,255,0.15);
}

nav.left{
	position:fixed;
	top: 0;
	left:0;
	right:auto;
	bottom:0;
	height:100%;
	width:220px;
	border-right:1px solid rgba(255,255,255,0.03);
	background-color:#252931;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

nav.left div{
	font-family:'Rajdhani','Roboto','Open Sans',sans-serif;
	line-height:1;
	vertical-align:middle;
	background-color:rgba(0,0,0,0.2);
}

nav.left div span{
	font-size:200%;
	display:inline-block;
	padding:10px 12px 5px;
    background: linear-gradient(45deg, #E63F6E,#003f77);
}

nav.left div strong{
	position:relative;
	top:-13px;
	padding: 0 2em 0 1em;
	color:rgba(255,255,255,0.5);
}

nav.left a{
	display:block;
	padding:0.25em 3em 1em 1em;
	font-size:80%;
	letter-sapcing:0.25px;
	color:hsl(225, 8%, 50%);
	border-bottom:1px solid rgba(0,0,0,0.1);
	border-top:1px solid rgba(255,255,255,0.1);
	font-weight:400
}

nav.left a:last-of-type{
	border-bottom:1px solid rgba(255,255,255,0.1);
}

nav.left a i{
	line-height: 1;
    position: relative;
    top: 7px;
    margin-right: 0.5em;
}

nav.left small{
	font-size:75%;
	color:hsl(225, 8%, 35%);
	padding:16px;
	margin-top:16px;
	display:block;
}

.card > div{
	font-size:75%;
	color:hsl(225, 8%, 35%);
}

nav.left small ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

nav.left small ul li{
	padding:4px 0;
	text-transform:capitalize;
}

nav.left small ul li span{
	color:hsl(225, 8%, 50%);
}

body > section{
	min-height:100vh;
	padding-top:1.25em;
}

.test-container{
	text-align: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
    text-align-last: justify;
	width:98%;
}

.test-menu{
	margin:0;
	padding:0;
	margin-bottom:1.25em;
}

.test-menu li{
	display:inline;
	margin-right:1em;
}

.test-menu li a{
	display: inline-block;
    padding: 0.5em 1em;
    background-color: #252931;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    font-size: 10px;
    width: 100px;
    text-align: center;
    margin-bottom: 1em;
}

.test-menu li a:hover{
	background-color:#E63F6E;
}



.test-container .card{
	will-change:box-shadow, border-color;
	vertical-align:top;
	display:inline-block;
	padding:1em;
	width:49%;
	background-color:#252931;
	border-radius:3px;
	border-top:3px solid rgba(255,255,255,0.25);
	transition:box-shadow 650ms ease;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom:1.25em;
	min-width:245px;
	text-align:left;
    -moz-text-align-last: left;
    -webkit-text-align-last: left; /* not implemented yet, and will not be */
    text-align-last: left; /* IE */
}

.test-container .card:nth-child(2n){
	margin-left:1%;
}

.test-container .card:hover{
	border-top-color:#E63F6E;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.test-container .card h6{
	font-family:'Roboto';
	font-size:16px;
	font-weight:300;
	color:rgba(255,255,255,0.75);
}

.test-container .card h6 span{
	font-size:10px;
	color:rgba(255,255,255,0.5);
	position:relative;
	top:-2px;
	left:1em;
}

.test-container .card:hover h6{
	color:#fff;
}

/* animations */
.glass nav.left,
.glass #unit-test,
.glass #machine-add,
.glass #about,
.glass .test-menu.machines,
.glass .test-menu.tests,
.glass .test-container{
	opacity:0;
}

nav.left,
#unit-test,
#machine-add,
#about,
.test-menu.machines,
.test-menu.tests,
.test-container{
	opacity:1;
	transition:opacity 650ms ease;
}

#unit-test,#machine-add,#about{
	transition-delay: 0.25s;	
}

.test-menu.machines{
	transition-delay: 0.5s;	
}

.test-menu.tests{
	transition-delay: 0.75s;	
}

.test-container{
	transition-delay: 1s;	
}

/* custom chart styling - #E63F6E*/
.ct-label{
	color:rgba(255,255,255,0.25);
}

.ct-axis-title{
	fill:rgba(255,255,255,0.25);
	font-size:75%;
}

.ct-grid{
	stroke:rgba(255,255,255,0.25);
}

.ct-series-a .ct-point,.ct-series-a .ct-line{
	stroke:#666;
}

.ct-series-a .ct-area{
	fill:rgba(255, 255, 255, 0.25);
}

.card:hover .ct-series-a .ct-point,
.card:hover .ct-series-a .ct-line{
	stroke:#E63F6E;
}

.card:hover .ct-series-a .ct-area{
	fill:rgba(230, 63, 110, 0.5);
}

#machine-add h5+p,
#about h5+p{
	font-size:14px;
	margin-bottom:1em;
	max-width:70%;
	min-width:400px;
	font-weight:300;
	color:rgba(255,255,255,0.75);
}

#machine-add h5,
#about h5{
	font-size:18px;
	font-weight:300;
	margin:1em 0 0.5em;
}

#machine-add p i,
#about p i{
	background-color: rgba(0,0,0,0.5);
	font-style:normal;
	display:inline-block;
	padding:0 3px;
}